[project]
dependencies   =[
    "duckdb>=1.4.3",
    "fastapi>=0.128.0",
    "python-chess>=1.999",
    "python-dotenv>=1.2.1",
]
description    ="Add your description here"
name           ="tactix"
readme         ="README.md"
requires-python=">=3.13"
version        ="0.1.0"

    [project.scripts]
    tactix="tactix:main"

[tool.maturin]
module-name    ="tactix._core"
python-packages=["tactix"]
python-source  ="src"

[tool.uv]
cache-keys=[
    { file="Cargo.lock" },
    { file="Cargo.toml" },
    { file="pyproject.toml" },
    { file="src/**/*.rs" },
]

[build-system]
build-backend="maturin"
requires     =["maturin>=1.0,<2.0"]
